<div class="megamenu-banner-wrap" style="background:url(%%IMAGE%%) 50% 50%; background-size:cover;">
	<a href="%%URL%%" class="cherry-banner_link image-link">
		%%TITLE%%
		%%CONTENT%%
	</a>
</div>