<div class="megamenu-post-wrap">
	<figure class="post-thumbnail">%%IMAGE%%</figure>
	<h4 class="post-title">%%TITLE%%</h4>
	%%CONTENT%%
	%%BUTTON="cherry-btn cherry-btn-primary cherry-btn-fade"%%
</div>