<figure class="post-thumbnail">%%IMAGE%%</figure>
<div class="rollover-content">
	<div class="table-display">
		<div class="table-cell">
                	<h3>%%TITLE%%</h3>
                </div>
	</div>
</div>