<div class="inner-wrap">
	<div class="item-content rollover-content">
		<div class="item-content-inner table-display">
			<div class="table-cell">
				<h3><a href="%%URL%%">%%TITLE%%</a></h3>
				<div class="links-container">%%EXTERNALLINK%% %%ZOOMLINK%% %%PERMALINK%%</div>
			</div>
		</div>
	</div>
</div>