/*
Description: The stylesheet with a main responsive style.
Author:      Cherry Team
Version:     1.0.0
*/
@import "css-framework/responsive/base";

/* Large devices (large desktops, 1400px and down) */
@media (max-width: $screen-lg-min) {
	.site {
		h2 {
			font-size: 60px;
		}
		.sidebar-content-wrapper,
		.content-sidebar-wrapper {
			h2 {
				font-size: 35px;
			}
		}			
		.sidebar-content-sidebar-wrapper,
		.sidebar-sidebar-content-wrapper,
		.content-sidebar-sidebar-wrapper {
			h2 {
				font-size: 25px;
			}
		}
	}
	.box_1 {
		h2 {
			padding-top: 48px;
		}
	}
	.header-top {
		padding-right: 50px;
	}
	.menu-primary {
		.menu-items {
			> .menu-item {
				&.cherry-mega-menu-top-item {
					> a {
						padding-left: 15px;
						padding-right: 15px;	
					}
				}
			}
		}
	}
	.sidebar-content-wrapper,
	.content-sidebar-wrapper {
		.cherry-chart {
			&.chart_1 {
				.cherry-charts-bar {
					max-width: 320px;
				}
			}
		}		
	}	
	.sidebar-content-sidebar-wrapper,
	.sidebar-sidebar-content-wrapper,
	.content-sidebar-sidebar-wrapper {
		.cherry-chart {
			&.chart_1 {
				.cherry-charts-bar {
					max-width: 220px;
				}
			}
		}

		.cherry-btn-link:before {
			display: block;
			margin: 0 auto;
		}
	}
}

/* Medium devices (desktops, 992px and down) */
@media (max-width: $screen-md-min) {
	.site {
		.sidebar-content-sidebar-wrapper,
		.sidebar-sidebar-content-wrapper,
		.content-sidebar-sidebar-wrapper {
			h2 {
				font-size: 25px;
			}
		}
	}
	.header-top {
		padding: 0 15px;
	}
	.static-header-logo,
	.static-header-menu,
	.static-search-form {
		clear: both;
		width: 100%;
		text-align: center;
	}
	.static-search-form {
		.search-form-wrapper {
			.site-header & {
				padding-bottom: 48px;
				padding-left: 0;
				text-align: center;
			}

			.isStick & {				
				.site-header & {
					padding-bottom: 28px;
					padding-top: 8px;
				}
			}

			.search-form {
				.site-header & {
					right: 50%;
					top: 30px;

					-webkit-transform: translate(50%,0);
					-ms-transform: translate(50%,0);
					-o-transform: translate(50%,0);
					transform: translate(50%,0);
				}				

				.isStick & {
					.site-header & {
						top: -7px;
					}					
				}				

				&.show {
					.site-header & {
						-webkit-transform: translate(50%,0);
						-ms-transform: translate(50%,0);
						-o-transform: translate(50%,0);
						transform: translate(50%,0);
					}										
				}

				input[type="text"] {
					.site-header & {
						background-color: rgba(255,255,255,1);
					}					
				}
			}
		}
	}	
	.menu-primary {
		.menu-items {
			float: none;
			text-align: center;

			ul {
				text-align: left;
			}
		}

		.cherry-mega-menu-top-item {
			float: none;
			display: inline-block;
			vertical-align: top;
			margin: 0 -2px;
		} 
	}
	.static-footer-sidebars {
		label {
			min-width: 0;
			display: block;
			text-align: right;
		}
	}
	.sidebar-content-wrapper,
	.content-sidebar-wrapper,
	.sidebar-content-sidebar-wrapper,
	.sidebar-sidebar-content-wrapper,
	.content-sidebar-sidebar-wrapper {
		.cherry-chart {
			&.chart_1 {
				.cherry-charts-bar {
					max-width: none;
				}
			}
		}	
	}
	ol.comment-list li.comment ol.children {
		padding-left: 0;
	}
	.team {
		text-align: center;

		&-item {
			margin-bottom: 30px;
		}
	}
	.left-indent {
		padding-left: 0;
	}
	.cherry-sidebar-main .widget, 
	.cherry-sidebar-secondary .widget {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Small devices (tablets, 768px and down) */
@media (max-width: $screen-sm-min) {
	.posts_1 {
		.cherry-posts-item {
			margin-top: 30px;

			&:first-child {
				margin-top: 0;
			}
		}
	}
	.chart_1 {
		.cherry-charts-bar {
			max-width: 480px;
		}
	}
	.static-footer-sidebars {
		.sidebar-footer-4 {
			text-align: left;
		}
	}
	.static-footer-sidebars {
		label {
			text-align: inherit;
			display: inline-block;
			vertical-align: top;
		}
	}
	.clients {
		.cherry-posts-item {
			width: 50%;
		}
	}
	.video_preview_1 {
		margin-right: 0;
	}
	.clients {
		padding-right: 0;
	}
	.sidebar-content-wrapper,
	.content-sidebar-wrapper,
	.sidebar-content-sidebar-wrapper,
	.sidebar-sidebar-content-wrapper,
	.content-sidebar-sidebar-wrapper {
		.cherry-chart {
			&.chart_1 {
				.cherry-charts-bar {
					max-width: 320px;
				}
			}
		}		
	}	
	.list_1 {
		ul {
			li {
				width: 50%;

				&:nth-child(3n) {
					width: 50%;
				}
			}
		}
	}
	.single {
		.service.type-service .cherry-services_thumb {
			float: none;
			margin-right: 0;
		}
	}
	.cherry-services.services_1 {
		.cherry-services_thumb {
			text-align: center;
		}
	}
	.cherry-thumb-s {
		&.alignleft,
		&.alignright {
			float: none;
			margin-right: 0;
		}
	}
	ul.filter {
		float: none;
		display: block;
		margin-bottom: 30px;

		li {
			float: none;
			display: block;
		}
	}
	ul.order-filter {
		float: none;
		display: block;
	}
}

/* Extra small devices (phones, less than 480px) */
@media (max-width: $screen-xs-min) {
	.chart_1 {
		.cherry-charts-bar {
			max-width: 320px;
		}
	}
	.site {
		h2 {
			font-size: 35px;
			line-height: 1.2em;
		}
	}
	.site .comment-reply-title, 
	.site .related-posts_title, 
	.site .comments-title {
		font-size: 40px;
	}
	.posts_3 {
		.post-thumbnail {
			float: none;
			margin-right: 0;
			margin-top: 0;
		}
	}
	ol.comment-list li .comment-body {
		padding: 20px;
	}
	.author-bio {
		padding: 20px;
	}
	.cherry-services.services_3 {
		text-align: center;	

		.cherry-services_icon {
			float: none;
			margin-right: auto;
			margin-left: auto;
		}
	}
	.list_1 {
		ul {
			li {
				width: auto;
				float: none;

				&:nth-child(3n) {
					width: auto;
				}
			}
		}
	}
	.static-search-form {
		.search-form-wrapper {
			.search-form {
				width: 290px;

				input[type="text"] {
					width: 233px;
				}
			}
		}
	}
	.author-bio {
		h3 {
			font-size: 30px;
		}
	}
	.testimonials-item {
		blockquote {
			border: none;
			overflow: visible;
			padding-left: 0;
		}
	}
	.pagination {
		.page-numbers {
			padding: 2px 8px;
		}
	}
	div.portfolio-wrap {
		.portfolio-container {
			&.list-layout {
				.list-layout-item {
					.inner-wrap {
						.media-content,
						.item-content {
							float: none;
							width: auto;	
						}
					}
				}
			}
		}
	}
	.error-404-num {
		font-size: 8em;
	}
}